*{
    margin: 0;
    padding: 0;
    position: relative;
}

body{
    background: rgb(253,29,103);
    background: radial-gradient(circle, rgba(253,29,103,1) 33%, rgba(252,176,69,1) 100%);}

.cap{
    margin-top: 90px;
}

.pelofondo{
    width: 500px;
    height: 1200px;
    position:fixed;
    margin: 0 51px;
    background: rgb(76,14,2);
    background: linear-gradient(0deg, rgb(43, 18, 13) 30%, rgb(31, 20, 20) 100%);
    border-radius:50% 50% 2% 2% / 30% 30% 30% 35%;
    z-index:-200;
  }



.cabell .flequillo_uno{
    width: 103px;
    height: 375px;
    position: absolute;
    margin: 111px -17px;
    background: #1b0e0b;
    border-radius: 100% 10% 100% 20% / 100% 30% 80% 10%;
    z-index:100;
    transform: rotate(5deg);
}

.cabell .flequillo_dos{
    width: 260px;
    height: 1200px;
    position: absolute;
    transform: scaleX(-1);
    margin: -1px 398px;
    background: rgb(27, 14, 11);
    border-radius: 111% 22% 43% 46% / 62% 30% 70% 30%;
    z-index: -300;
}

.cabell .flequillo_tres{
    width: 260px;
    height: 1200px;
    position: absolute;
    margin: 0px -69px;
    background: rgb(27, 14, 11);
    border-radius: 111% 22% 43% 46% / 62% 30% 70% 30%;
    z-index: -300;
}

.cabell .flequillo_cuatro{
    width: 425px;
    height: 146px;
    position: absolute;
    margin: -26px 91px;
    background: rgb(27, 14, 11);
    border-radius: 50%;
    z-index: 100;
}

.cabell .flequillo_cinco{
    width: 450px;
    height: 74px;
    position: absolute;
    margin: 149px -52px;
    border-radius: 50%;
    transform: rotate(306deg);
    box-shadow: -2px 15px 0px 4px #1b0e0b;;
    z-index: 100;
}

.cabell .flequillo_seis{
    width: 92px;
    height: 275px;
    position: absolute;
    margin: 38px 496px;
    background: #1b0e0b;
    border-radius: 50%;
    z-index: 100;
    transform: rotate(342deg);
}

.cabell .flequillo_siete{
    width: 311px;
    height: 111px;
    position: absolute;
    margin: 74px 293px;
    background: rgb(27, 14, 11);
    border-radius: 50%;
    transform: rotate(44deg);
    z-index: 100;
}

.cabell .flequillo_ocho{
    width: 163px;
    height: 40px;
    position: absolute;
    margin: 226px 504px;
    background: rgb(27, 14, 11);
    border-radius: 50%;
    transform: rotate(84deg);
    z-index: 100;
}

.cabell .flequillo_nueve{
    width: 120px;
    height: 272px;
    position: absolute;
    margin: 206px 431px;
    border-radius: 50%;
    z-index: 100;
    transform: rotate(-19deg);
    box-shadow: 57px 18px 0px #1b0e0b;;
}

.cabell .flequillo_diez{
    width: 430px;
    height: 146px;
    position: absolute;
    margin: 111px -79px;
    background: rgb(27, 14, 11);
    border-radius: 50%;
    transform: rotate(133deg);
    z-index: 100;
}

.cabell .flequillo_once{
    width: 389px;
    height: 132px;
    position: absolute;
    margin: 111px -121px;
    background:#1b0e0b;
    border-radius: 50%;
    transform: rotate(115deg);
    z-index: 100;
}

.cabell .flequillo_doce{
    width: 489px;
    height: 58px;
    position: absolute;
    margin: 209px -167px;
    box-shadow: -4px 9px 0px #31130c;;
    border-radius: 50%;
    transform: rotate(111deg);
    z-index: 900;
}

.cabell .flequillo_trece{
    width: 379px;
    height: 78px;
    position: absolute;
    margin: 199px 323px;
    box-shadow: -4px 9px 0px #31130c;;
    border-radius: 50%;
    z-index: 900;
    transform: scaleX(-1) rotate(117deg); 
}

.cara{
    width: 580px;
    height: 808px;
    background: #ffd0b5;
    border-radius: 100% 100% 150% 150%;
    margin: 0 auto;
    box-shadow: 0px 5px 13px 0px #32251c;
}

.cabell{
    height: 200px;
    width: 200px;
    display: inline-block;
}

.front{
    height: 63px;
    text-align: center;
    margin-top: 100px;
}

.celles {
    width: 186px;
    background-color: black;
    display: inline-block;
    margin: 0 50px;
}

.c1{
    height: 180px;
    clip-path: polygon(22% 18%, 90% 15%, 94% 25%, 31% 25%, 0 33%);
}

.c2{
    height: 180px;
    clip-path: polygon(22% 18%, 90% 15%, 94% 25%, 31% 25%, 0 33%);
    transform: scaleX(-1);
}

.nas{
    height: 80px;
    text-align: center;
    margin-top: -69px;
}

.orelles{
    background-color: #ffd0b5;
    height: 116px;
    width: 640px;
    z-index: -40;
    margin: 61px -25px;
    border-radius: 50px;
}


.nas .naset{
    background: linear-gradient(0deg, rgb(250 198 161) 33%, #ffd0b5 100%);
    height: 60px;
    width: 90px;
    border-radius: 10% 10% 60% 60%;
    margin: 10px auto;
}

.mirada{
    height: 89px;
    text-align: center;
    z-index: 20;
}

.pendientes{
    height: 351px;
    width: 1183px;
    text-align: center;
    margin: 139px -289px;
    position: absolute;
    z-index: 500;
}

.circulo{
    height: 147px;
    width: 12px;
    background: rgb(255,211,111);
    background: linear-gradient(0deg, rgba(255,211,111,1) 33%, rgba(174,76,22,1) 100%);
    margin: 20px 284px;
    float: left;
    border-radius: 30%;
}

.p1{
    transform: scaleX(-1);
}

.p2{
    transform: scaleX(1);
}
    
.mirada .ull{
    height: 120px;
    width: 133px;
    clip-path: polygon(57% 32%, 78% 35%, 100% 45%, 85% 60%, 70% 66%, 43% 69%, 19% 64%, 0 56%, 13% 43%, 33% 36%);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    margin: -12px 59px;
    overflow: hidden;
}

.u1{
    transform: scaleX(-1);
}

.u2{
    transform: scaleX(1);
}


.mirada .ull .pupila{
    height: 65px;
    width: 65px;
    background: black;
    border-radius: 50%;
    display: inline-block;
    margin: 23px auto;
}

.mirada .ull .iris{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}

.deco{
    height: 91px;
    text-align: center;
    margin: -88px;
    z-index: 0;
}

.eyeliner{
    height: 137px;
    width: 170px;
    clip-path: polygon(71% 15%, 98% 28%, 80% 28%, 64% 22%, 50% 20%, 38% 22%, 18% 35%, 0 38%, 16% 20%, 42% 11%);
    background: rgb(0, 0, 0);
    display: inline-block;
    margin: 0 52px;
}

.e1{
    transform: scaleX(-1);
}

.e2{
    transform: scaleX(1);
}

.boca{
    width: 130px;
    height: 20px;
    border-radius: 50%;
    border-left: 4px solid #0000;
    border-bottom: 9px solid;
    margin: 34px auto;
}


.coll{
    height:270px;
    width:220px;
    background: #fed5bd;
    margin: 0 auto;
    z-index: -15;
    border-radius: 0px 0px 90px 90px;
}

.roba{
    height:350px;
    width:880px;
    background: #2e231f;
    margin: -110px -148px;
    z-index: -20;
    border-radius: 240px 240px 0px 0px;
}

@keyframes bang {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  .hoverme {
    width: 240px;
    margin: 150px auto 0;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
  }
  .hoverme span {
    color: #333;
    font-size: .9em;
  }
  .hoverme i {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 20px;
    height: 20px;
    background: red;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(1) {
    transform: translate3d(-54px, -72px, 0) rotate(82deg);
    background: #ff0037;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(2) {
    transform: translate3d(25px, -55px, 0) rotate(200deg);
    background: #ff0077;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(3) {
    transform: translate3d(61px, -76px, 0) rotate(236deg);
    background: #77ff00;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(4) {
    transform: translate3d(-46px, -74px, 0) rotate(153deg);
    background: #00ffa2;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(5) {
    transform: translate3d(39px, -86px, 0) rotate(4deg);
    background: #00ffd5;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(6) {
    transform: translate3d(-36px, -64px, 0) rotate(36deg);
    background: #00aeff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(7) {
    transform: translate3d(64px, -92px, 0) rotate(179deg);
    background: #00b3ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(8) {
    transform: translate3d(61px, -73px, 0) rotate(252deg);
    background: #22ff00;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(9) {
    transform: translate3d(20px, -69px, 0) rotate(116deg);
    background: #d0ff00;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(10) {
    transform: translate3d(-30px, -52px, 0) rotate(344deg);
    background: #e100ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(11) {
    transform: translate3d(71px, -86px, 0) rotate(287deg);
    background: #3cff00;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(12) {
    transform: translate3d(50px, -55px, 0) rotate(57deg);
    background: #00ff7b;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(13) {
    transform: translate3d(-53px, -70px, 0) rotate(274deg);
    background: #00aeff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(14) {
    transform: translate3d(-90px, -71px, 0) rotate(96deg);
    background: #ff6200;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(15) {
    transform: translate3d(23px, -66px, 0) rotate(91deg);
    background: #ff0026;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(16) {
    transform: translate3d(-26px, -54px, 0) rotate(154deg);
    background: #0051ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(17) {
    transform: translate3d(64px, -58px, 0) rotate(255deg);
    background: #0040ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(18) {
    transform: translate3d(64px, -95px, 0) rotate(79deg);
    background: #9dff00;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(19) {
    transform: translate3d(45px, -50px, 0) rotate(343deg);
    background: #00fbff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(20) {
    transform: translate3d(-41px, -63px, 0) rotate(3deg);
    background: #002bff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(21) {
    transform: translate3d(-18px, -77px, 0) rotate(225deg);
    background: #a200ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(22) {
    transform: translate3d(0px, -71px, 0) rotate(185deg);
    background: #ff1e00;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(23) {
    transform: translate3d(1px, -81px, 0) rotate(144deg);
    background: #00ff91;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(24) {
    transform: translate3d(-28px, -88px, 0) rotate(337deg);
    background: #ff0095;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(25) {
    transform: translate3d(71px, -66px, 0) rotate(326deg);
    background: #00f2ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(26) {
    transform: translate3d(-82px, -72px, 0) rotate(91deg);
    background: #5100ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(27) {
    transform: translate3d(-32px, -66px, 0) rotate(6deg);
    background: #ffb700;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(28) {
    transform: translate3d(-84px, -60px, 0) rotate(34deg);
    background: #00ff66;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(29) {
    transform: translate3d(-11px, -90px, 0) rotate(137deg);
    background: lime;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(30) {
    transform: translate3d(33px, -58px, 0) rotate(118deg);
    background: #ff0080;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(31) {
    transform: translate3d(-9px, -52px, 0) rotate(258deg);
    background: #b300ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(32) {
    transform: translate3d(35px, -98px, 0) rotate(149deg);
    background: #e600ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(33) {
    transform: translate3d(-81px, -71px, 0) rotate(281deg);
    background: #9dff00;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(34) {
    transform: translate3d(24px, -86px, 0) rotate(170deg);
    background: #ffd900;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(35) {
    transform: translate3d(48px, -68px, 0) rotate(197deg);
    background: #3300ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(36) {
    transform: translate3d(10px, -85px, 0) rotate(344deg);
    background: #00ff2f;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(37) {
    transform: translate3d(-82px, -59px, 0) rotate(284deg);
    background: #006fff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(38) {
    transform: translate3d(84px, -54px, 0) rotate(24deg);
    background: #ff0095;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(39) {
    transform: translate3d(-67px, -97px, 0) rotate(265deg);
    background: #003cff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(40) {
    transform: translate3d(-98px, -61px, 0) rotate(215deg);
    background: #001eff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(41) {
    transform: translate3d(-19px, -84px, 0) rotate(261deg);
    background: #00eeff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(42) {
    transform: translate3d(171px, -253px, 0) rotate(230deg);
    background: #007bff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(43) {
    transform: translate3d(-186px, -270px, 0) rotate(360deg);
    background: #00fff7;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(44) {
    transform: translate3d(179px, -282px, 0) rotate(119deg);
    background: #ff6f00;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(45) {
    transform: translate3d(-133px, -281px, 0) rotate(156deg);
    background: #ff001e;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(46) {
    transform: translate3d(168px, -130px, 0) rotate(341deg);
    background: #0099ff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(47) {
    transform: translate3d(129px, -284px, 0) rotate(253deg);
    background: #00ffd5;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(48) {
    transform: translate3d(-150px, -280px, 0) rotate(210deg);
    background: #00fbff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(49) {
    transform: translate3d(-310px, -274px, 0) rotate(36deg);
    background: cyan;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  .hoverme:hover i:nth-of-type(50) {
    transform: translate3d(-125px, -250px, 0) rotate(155deg);
    background: #007bff;
    animation: bang 700ms ease-out forwards;
    opacity: 0;
  }
  




